<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <CustomerParadigm_CardSaveCheckbox>
                <version>0.1.0.0</version>
            </CustomerParadigm_CardSaveCheckbox>
        </modules>
        <helpers>
            <cardsavecheckbox>
                <class>CustomerParadigm_CardSaveCheckbox_Helper</class>
            </cardsavecheckbox>
        </helpers>
        <models>
            <cardsavecheckbox>
                <class>CustomerParadigm_CardSaveCheckbox_Model</class>
            </cardsavecheckbox>
        </models>
        <blocks>
            <cardsavecheckbox>
                <class>CustomerParadigm_CardSaveCheckbox_Block</class>
            </cardsavecheckbox>
            <payment>
                <rewrite>
                    <form_cc>CustomerParadigm_CardSaveCheckbox_Block_Form_Cc</form_cc>
                </rewrite>
            </payment>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>CustomerParadigm_CardSaveCheckbox_Block_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <cardsavecheckbox>
                        <type>singleton</type>
                        <class>CustomerParadigm_CardSaveCheckbox_Model_Observer</class>
                        <method>overridePaymentMethod</method>
                    </cardsavecheckbox>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
    </global>
</config>
